<template>
    <div>
        <footer class="w-full bg-white text-right p-4">
            Built by <a target="_blank" href="#" class="underline">Parallax Tech</a>.
        </footer>
    </div>
</template>

<script>
export default {
    name:"Footer"
}
</script>