<template>
    <div class="bg-gray-100 font-family-karla flex">
      <!-- v-if="$page.props.auth.admin.loggedIn" -->
      <div > 
        <SideBar/>
      </div>
      
      <div class="relative w-full flex flex-col h-screen overflow-y-hidden">
        <Header/>
        <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
          <slot/>
          <Footer/>
        </div>
      </div>
    </div>
</template>

<script>
import SideBar from '../Layouts/Sidebar'
import Header from '../Layouts/Header'
import Footer from '../Layouts/Footer'
export default {
    name:"Layout",
    components:{
        SideBar, Header, Footer
    }
	
};
</script>