<template>
    <layout>
        <main class="h-full pb-16 overflow-y-auto">
            <!-- Remove everything INSIDE this div to a really blank page -->
            <div class="container px-6 mx-auto grid">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                    Blog Create
                </h2>

                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                    <div class="w-full overflow-x-auto">
                        <el-form :label-position="labelPosition" :model="form" label-width="120px" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                            <el-form-item label="Name">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                            <el-form-item label="Description" >
                                <vue-editor v-model="form.description"></vue-editor>
                            </el-form-item>
                            <el-form-item label="Upload Image" class="mr-2" prop="real_price">
                                <input type="file" @change="onFileSelected"/>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="create">Create</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </div>
        </main>
    </layout>
</template>

<script>
import Layout from '../Layouts/Master'
import { VueEditor } from "vue2-editor";
export default {
    name:"Blog-Create",
    components:{
        Layout, VueEditor
    },
    data(){
        return{
            form:{
                name:'',
                selectedFile:'',
                description:'',
            }
        }
    },
    methods:{
        onFileSelected(event){
            console.log(event)
            this.form.selectedFile = event.target.files[0]
        },
        create(){
           var data = new FormData()
           data.append('name',this.form.name)
           data.append('image',this.form.selectedFile)
           data.append('description',this.form.description)
           this.$inertia.post('/admin/blog/store', data).then(() => {
                if(this.$page.flash.success){
                    this.$notify({
                        title: 'Success',
                        message: this.$page.flash.success,
                        type: 'success'
                    });
                }else{
                    this.$notify.error({
                        title: 'Error',
                        message: this.$page.flash.error
                    });
                }
            })
       } 

    }
}
</script>