<template>
    <layout>
        <main class="h-full pb-16 overflow-y-auto">
            <div class="container px-6 mx-auto grid">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Blog List</h2>
                <div>
                    <inertia-link :href="$route('blog.create')" class="mt-5 mb-5 pl-5 pr-5 pt-2 pb-2 bg-blue-500 text-white rounded-lg shadow-lg uppercase">Create New</inertia-link>
                </div>

                <div class="mt-10 w-full overflow-hidden rounded-lg shadow-xs">
                    <div class="w-full overflow-x-auto">
                        <el-table :data="$page.blog" style="width: 100%">
                            <el-table-column prop="name" label="Name"></el-table-column>
                            <el-table-column label="Description">
                                <template slot-scope="scope">
                                    <p v-html="scope.row.description.substring(0,100)"></p>
                                </template>
                            </el-table-column>
                            <el-table-column label="Action">
                                <template slot-scope="scope">
                                <inertia-link class="bg-blue-500 text-white p-3 rounded-xl" :href="$route('blog.show', scope.row.id)"><i class="el-icon-view"></i></inertia-link>
                                <inertia-link class="bg-green-500 text-white p-3 rounded-xl" :href="$route('blog.edit', scope.row.id)"><i class="el-icon-edit"></i></inertia-link>
                                <el-tooltip class="item" effect="dark" content="Delete" placement="right">
                                    <el-popconfirm title="Are you sure to delete this?" 
                                    confirm-button-text='OK'
                                    cancel-button-text='No, Thanks'
                                    @onConfirm="clickDelete(scope.row.id)">
                                    <el-button size="mini" type="danger" slot="reference"><i class="el-icon-delete"></i></el-button>
                                    </el-popconfirm>
                                </el-tooltip>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>

            </div>
            
            
        </main>
    </layout>
</template>

<script>
import Layout from '../Layouts/Master'
export default {
    name:"Blog",
    components:{
        Layout
    }
}
</script>