<template>
    <div>
        <section style="background:#203864">
            <div class="container mx-auto p-5">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 pt-16 pb-16">
                    <div>
                        <h1 class="uppercase text-white text-xl font-semibold mb-4">Solutions</h1>
                        <ul>
                            <li class="pb-2">
                                <inertia-link href="" class="text-gray-300 hover:text-gray-100">Web Development</inertia-link>
                            </li>
                            <li class="pb-2">
                                <inertia-link href="" class="text-gray-300 hover:text-gray-100">Mobile Development</inertia-link>
                            </li>
                            <li class="pb-2">
                                <inertia-link href="" class="text-gray-300 hover:text-gray-100">UI/UX</inertia-link>
                            </li>
                        </ul>
                    </div>

                    <!-- <div>
                        <h1 class="uppercase text-white text-xl font-semibold mb-4">Support</h1>
                        <ul>
                            <li class="pb-2">
                                <inertia-link href="" class="text-gray-300 hover:text-gray-100">Web Pricing</inertia-link>
                            </li>
                            <li class="pb-2">
                                <inertia-link href="" class="text-gray-300 hover:text-gray-100">Mobile Pricing</inertia-link>
                            </li>
                            <li class="pb-2">
                                <inertia-link href="" class="text-gray-300 hover:text-gray-100">UI/UX Pricing</inertia-link>
                            </li>
                        </ul>
                    </div> -->

                    <div>
                        <h1 class="uppercase text-white text-xl font-semibold mb-4">Company</h1>
                        <ul>
                            <li class="pb-2">
                                <inertia-link href="" class="text-gray-300 hover:text-gray-100">Home</inertia-link>
                            </li>
                            <li class="pb-2">
                                <inertia-link href="" class="text-gray-300 hover:text-gray-100">About Us</inertia-link>
                            </li>
                            <li class="pb-2">
                                <inertia-link href="" class="text-gray-300 hover:text-gray-100">Contact Us</inertia-link>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h1 class="uppercase text-white text-xl font-semibold mb-4">Legal</h1>
                        <ul>
                            <li class="pb-2">
                                <inertia-link href="" class="text-gray-300 hover:text-gray-100">Privacy</inertia-link>
                            </li>
                            <li class="pb-2">
                                <inertia-link href="" class="text-gray-300 hover:text-gray-100">Terms</inertia-link>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h1 class="uppercase text-white text-xl font-semibold mb-4">Subscribe to Our newsletter</h1>
                        <p class="text-gray-300 leading-loose">The latest news, articles and resources, sent to your index weekly.</p>
                        <form >
                            <div class="mt-4 flex">
                                <input type="text" class="p-2 border border-grey-light round text-grey-dark text-sm h-auto" placeholder="Your email address">
                                <button style="background:#26B7CE" class=" text-white rounded-sm h-auto text-xs p-3">Subscribe</button>
                            </div>
                        </form>
                    </div>

                </div>
                <hr class="mb-4" style="background:#7180AF">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 pb-10">
                    <div>
                        <p class="text-gray-300">
                            Copyright © 2020 - {{ new Date().getFullYear() }} <inertia-link href="/">ParallaxTech</inertia-link>, Inc. All rights reserved.
                        </p>  
                    </div>
                    <div class="flex flex-col items-end">
                        <div class="flex flex-row">
                            <a href="https://www.facebook.com/parallaxtech.info" class="p-2" target="_blank">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#29ECF9"><path d="M20 0a4 4 0 0 1 4 4v16a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h16zm-4 7.28V4.5h-2.29c-2.1 0-3.42 1.6-3.42 3.89v1.67H8v2.77h2.29v6.67h2.85v-6.67h2.29l.57-2.77h-2.86V8.94c0-1.1.58-1.66 1.72-1.66H16z"/></svg>
                                </span>
                            </a>
                            <inertia-link href="" class="p-2">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#29ECF9"><path d="M20 0a4 4 0 0 1 4 4v16a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h16zm-4.42 5.8a3.28 3.28 0 0 0-3.2 4.03A9.32 9.32 0 0 1 5.61 6.4a3.26 3.26 0 0 0 1.02 4.38 3.27 3.27 0 0 1-1.49-.4v.03a3.28 3.28 0 0 0 2.64 3.22 3.3 3.3 0 0 1-1.49.06 3.29 3.29 0 0 0 3.07 2.28 6.59 6.59 0 0 1-4.86 1.36 9.29 9.29 0 0 0 5.03 1.47c6.04 0 9.34-5 9.34-9.34v-.42a6.65 6.65 0 0 0 1.63-1.7c-.59.26-1.22.44-1.89.52.68-.41 1.2-1.05 1.45-1.82-.64.38-1.34.65-2.09.8a3.28 3.28 0 0 0-2.4-1.04z"/></svg>
                                </span>
                            </inertia-link>
                            <inertia-link href="" class="p-2">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#29ECF9"><path d="M20 0a4 4 0 0 1 4 4v16a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h16zm-4.89 4.5H8.9C6.33 4.5 4.6 6.15 4.5 8.66V15.09c0 1.3.42 2.41 1.27 3.23a4.34 4.34 0 0 0 2.88 1.17l.27.01h6.16c1.3 0 2.4-.42 3.18-1.18a4.25 4.25 0 0 0 1.23-2.95l.01-.26V8.9c0-1.28-.42-2.36-1.21-3.15a4.24 4.24 0 0 0-2.92-1.23l-.26-.01zm-6.2 1.4h6.24c.9 0 1.66.26 2.2.8.47.5.77 1.18.81 1.97V15.1c0 .94-.32 1.7-.87 2.21-.5.47-1.17.74-1.98.78H8.92c-.91 0-1.67-.26-2.21-.78-.5-.5-.77-1.17-.81-2V8.88c0-.9.26-1.66.8-2.2a2.98 2.98 0 0 1 2-.78h6.45-6.23zM12 8.1a3.88 3.88 0 0 0 0 7.74 3.88 3.88 0 0 0 0-7.74zm0 1.39a2.5 2.5 0 0 1 2.48 2.48A2.5 2.5 0 0 1 12 14.45a2.5 2.5 0 0 1-2.48-2.48A2.5 2.5 0 0 1 12 9.49zm4.02-2.36a.88.88 0 1 0 0 1.76.88.88 0 0 0 0-1.76z"/></svg>
                                </span>
                            </inertia-link>
                            <inertia-link href="" class="p-2">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#29ECF9"><path d="M20 0a4 4 0 0 1 4 4v16a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h16zM8.87 5A3.85 3.85 0 0 0 5 8.82c0 .7.2 1.36.53 1.93a6.63 6.63 0 0 0 7.76 7.8 3.9 3.9 0 0 0 1.84.45 3.85 3.85 0 0 0 3.47-5.51 6.63 6.63 0 0 0-7.67-7.9c-.6-.37-1.3-.59-2.06-.59zm3.16 2.44c.6 0 1.12.07 1.56.2.44.14.81.32 1.1.55.3.22.51.46.65.72.14.25.2.5.2.75a.9.9 0 0 1-.26.63.92.92 0 0 1-.69.28.86.86 0 0 1-.58-.17 2.16 2.16 0 0 1-.4-.53 2.19 2.19 0 0 0-.6-.73c-.22-.17-.6-.25-1.1-.25-.49 0-.88.1-1.17.28-.27.18-.4.39-.4.63 0 .15.03.28.12.39.1.11.23.21.4.3.18.08.36.15.54.2l.3.08.62.14c.54.12 1.04.25 1.48.38.45.14.83.32 1.14.52.32.2.58.47.76.78.18.32.27.7.27 1.16 0 .54-.16 1.04-.47 1.47-.3.43-.77.77-1.36 1.01-.58.24-1.28.37-2.08.37-.96 0-1.77-.17-2.4-.5a3.1 3.1 0 0 1-1.1-.96c-.28-.4-.42-.8-.42-1.19 0-.24.1-.45.28-.62a.99.99 0 0 1 .7-.26.9.9 0 0 1 .58.2c.13.1.23.25.33.43l.06.14c.12.27.25.5.39.67.13.17.32.31.56.43.24.1.57.17.97.17.55 0 1-.12 1.34-.35.34-.22.5-.5.5-.82a.8.8 0 0 0-.26-.62c-.18-.17-.42-.3-.71-.4a12.6 12.6 0 0 0-.98-.24l-.25-.05a9.91 9.91 0 0 1-1.75-.52c-.48-.2-.86-.48-1.15-.83-.28-.35-.43-.8-.43-1.31 0-.5.15-.95.46-1.34.3-.38.73-.68 1.3-.88.55-.2 1.2-.3 1.95-.3z"/></svg>
                                </span>
                            </inertia-link>
                            <inertia-link href="" class="p-2">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#29ECF9"><path d="M20 0a4 4 0 0 1 4 4v16a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h16zm-7.44 4.2C8.33 4.2 6.2 7.33 6.2 9.94c0 1.58.58 2.99 1.82 3.51.2.09.39 0 .45-.23l.18-.74c.05-.2.04-.28-.07-.43l-.06-.08a2.7 2.7 0 0 1-.59-1.8c0-2.32 1.69-4.4 4.39-4.4 2.39 0 3.7 1.5 3.7 3.52 0 2.65-1.13 4.89-2.82 4.89-.93 0-1.63-.8-1.4-1.77.26-1.17.78-2.42.78-3.27 0-.75-.39-1.37-1.2-1.37-.95 0-1.72 1.01-1.72 2.37 0 .87.29 1.46.29 1.46l-1.15 5c-.34 1.5-.05 3.31-.02 3.5.01.1.15.13.2.05l.2-.25a9.67 9.67 0 0 0 1.36-2.57l.05-.19.63-2.52c.31.6 1.21 1.14 2.18 1.14 2.86 0 4.8-2.69 4.8-6.3 0-2.72-2.24-5.26-5.64-5.26z"/></svg>
                                </span>
                            </inertia-link>
                            <inertia-link href="" class="p-2">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#29ECF9"><path d="M20 0a4 4 0 0 1 4 4v16a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h16zm-8 4a8.04 8.04 0 0 0-7.37 4.89 7.95 7.95 0 0 0 .74 7.58A8.06 8.06 0 0 0 12 20a7.98 7.98 0 0 0 5.66-13.66A8 8 0 0 0 12 4zm1.16 9.12l.05-.02.21.57c.8 2.24 1.15 4.07 1.25 4.62a6.8 6.8 0 0 1-6.8-.84l-.07-.06.04-.07c.23-.45 1.65-2.92 5.32-4.2zm5.59-.04a6.84 6.84 0 0 1-2.93 4.59l-.1-.5c-.16-.83-.53-2.47-1.23-4.38a9.9 9.9 0 0 1 4.26.3zm-6.56-2.27c.2.38.38.77.55 1.16l-.27.08c-2.99.97-4.78 3.34-5.36 4.2l-.2.31-.18-.21A6.8 6.8 0 0 1 5.17 12v-.22h.38c1 0 3.77-.11 6.64-.97zm5.09-3.15a6.8 6.8 0 0 1 1.55 4.27l-.43-.08c-.79-.13-2.55-.37-4.33-.14l-.15-.35c-.14-.34-.3-.67-.45-1a8.78 8.78 0 0 0 3.8-2.7zm-8.2-1.84l.5.69c.49.7 1.28 1.9 2.04 3.25-3.28.87-6.13.83-6.3.83a6.84 6.84 0 0 1 3.76-4.77zM12 5.17c1.73 0 3.3.64 4.51 1.7l-.09.13a7.86 7.86 0 0 1-3.48 2.35l-.25-.46c-1.1-1.92-2.2-3.4-2.3-3.53.52-.12 1.06-.2 1.61-.2z"/></svg>
                                </span>
                            </inertia-link>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name:"Footer"
}
</script>