<template>
    <section class="bg-white-500">
		<header class="mx-auto  sm:flex sm:justify-between sm:items-center sm:pr-16 sm:pl-16 sm:pt-5 sm:pb-5">
			<div class="flex items-center justify-between px-4 py-3 sm:p-0">
				<div>
					<inertia-link href="/">
						<img src="https://www.parallaxtech.info/images/logo.png" class="h-10 focus:outline-none"/>
					</inertia-link>
				</div>
				<div class="sm:hidden">
					<button @click="isOpen = !isOpen" type="button" class="block text-blue-900 hover:text-indigo-800">
						<svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path v-if="!isOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
							<path v-if="isOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
						</svg>
					</button>
				</div>
			</div>
			<nav :class="isOpen? 'block' : 'hidden'" class="sm:block">
				<div class="px-5 pt-2 pb-4 sm:flex sm:p-0">
					<inertia-link href="/" class="block px-2 py-1 text-blue-900 font-semibold hover:text-indigo-800">Home</inertia-link>
					<inertia-link href="/about-us" class="block mt-1 px-2 py-1 text-blue-900 font-semibold hover:text-indigo-800 sm:mt-0 sm:ml-2">About Us</inertia-link>
					<inertia-link href="/project" class="block mt-1 px-2 py-1 text-blue-900 font-semibold hover:text-indigo-800 sm:mt-0 sm:ml-2">Project</inertia-link>
					<inertia-link href="/blog" class="block mt-1 px-2 py-1 text-blue-900 font-semibold hover:text-indigo-800 sm:mt-0 sm:ml-2">Blog</inertia-link>
					<inertia-link href="/contact-us" class="block mt-1 px-2 py-1 text-blue-900 font-semibold hover:text-indigo-800 sm:mt-0 sm:ml-2">Contact Us</inertia-link>	
				</div>

			</nav>
		</header>
    </section>
</template>

<script>
export default {
	name:"NavBar",
    data(){
		return{
			isOpen: false,
			dropDown : false,
			registerBtn : false,
		}
	}
}
</script>