<template>
    <layout>
        <!-- Hero Section -->
        <section class="bg-gray-100">
            <div class="container mx-auto p-16 large-header" id="large-header">
                <div class='particle-network-animation'>
                </div>
                <h1 class="font-semibold text-2xl text-center uppercase" style="color:#203864">About Us</h1>
            </div>
        </section>

        <!-- About Us Section -->
        <section>
            <div class="container mx-auto grid grid-cols-1 sm:grid-cols-3 pt-16 pb-16 pr-5 pl-5">
                <div class="col-span-1">
                    <h3 class="uppercase text-blue-500">Who Are We</h3>
                    <h1 class="abel-font uppercase text-blue-800 text-3xl font-semibold mb-5">About Us</h1>
                    <p class="text-gray-600 leading-loose">As you might expect of a company that began as a high-end interiors contractor.</p>
                </div>
                <div class="col-span-2">
                    <p class="text-gray-600 leading-loose">Metasurfaces are generally designed by placing scatterers in periodic or pseudo-periodic grids. We propose and discuss design rules for functional metasurfaces with randomly placed. Anisotropic elements that randomly sample. Quisque sit amet nisl ante.</p>
                    <div class="grid grid-cols-1 sm:grid-cols-2">
                        <div>
                            <img src="https://www.parallaxtech.info/images/mission.png" alt="" class="mt-5 mb-5">
                            <h3 class="uppercase text-blue-800 text-2xl font-semibold mb-5">Our Mission</h3>
                            <p class="text-gray-600 leading-loose">
                                As you might expect of a company that began as a high-end interiors contractor, we pay strict attention. Anisotropic elements that randomly sample.
                            </p>
                        </div>
                        <div>
                            <img src="https://www.parallaxtech.info/images/vision.png" alt="" class="mt-5 mb-5">
                            <h3 class="uppercase text-blue-800 text-2xl font-semibold mb-5">Our Vision</h3>
                            <p class="text-gray-600 leading-loose">
                                As you might expect of a company that began as a high-end interiors contractor, we pay strict attention. Anisotropic elements that randomly sample.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Why you should choose us -->
        <section style="background:url(https://colorlib.com/preview/theme/staging/img/call-bg.jpg)">
            <div class="container mx-auto pt-20 pb-16 pr-5 pl-5">
                <div>
                    <h3 class="text-center font-semibold text-2xl abel-font uppercase mb-5" style="color:#29ECF9">Why choose us?</h3>
                    <p class="text-gray-300 leading-loose text-center">Metasurfaces are generally designed by placing scatterers in periodic or pseudo-periodic grids. 
                        We propose and discuss design rules for functional metasurfaces with randomly placed. 
                        Anisotropic elements that randomly sample. Quisque sit amet nisl ante.
                    </p>
                    <div class="grid grid-cols-2 mt-20">
                        <div class="flex flex-col items-center text-gray-400">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            </span>
                            <h3>Clients</h3>
                            <h4 class="text-3xl">10,000</h4>
                        </div>
                        <div class="flex flex-col items-center text-gray-400">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
                            </span>
                            <h3>Projects</h3>
                            <h4 class="text-3xl">3,000</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Team Section -->
        <section class="text-gray-700 body-font">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-col text-center w-full mb-20">
                    <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p>
                </div>
                <div class="flex flex-wrap -m-4">
                        
                    <div class="p-4 lg:w-1/2">
                        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://www.parallaxtech.info/images/teams/oscar.jpg">
                            <div class="flex-grow sm:pl-8">
                                <h2 class="title-font font-medium text-lg text-gray-900">Oscar Myo Min</h2>
                                <h3 class="text-gray-500 mb-3">Web/Android Developer</h3>
                                <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
                                <span class="inline-flex">
                                <a class="text-gray-500" href="https://www.facebook.com/oscar.com.mm/" target="_blank">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                    </svg>
                                </a>
                                <a class="ml-2 text-gray-500">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                                    </svg>
                                </a>
                                <a class="ml-2 text-gray-500">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                                    </svg>
                                </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2">
                        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://www.parallaxtech.info/images/teams/saiko.jpg">
                            <div class="flex-grow sm:pl-8">
                                <h2 class="title-font font-medium text-lg text-gray-900">Sai Ko</h2>
                                <h3 class="text-gray-500 mb-3">Flutter Developer</h3>
                                <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
                                <span class="inline-flex">
                                <a class="text-gray-500" href="https://www.facebook.com/profile.php?id=100010671944207" target="_blank">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                    </svg>
                                </a>
                                <a class="ml-2 text-gray-500">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                                    </svg>
                                </a>
                                <a class="ml-2 text-gray-500">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                                    </svg>
                                </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </layout>
</template>

<script>
import Layout from './Layouts/Master'

export default {
    name:"About Us",
    components:{
        Layout
    }
}
</script>