<template>
    <layout>
        <!-- Hero Section -->
        <section class="bg-gray-100">
            <div class="container mx-auto p-16 large-header" id="large-header">
                <div class='particle-network-animation'>
                </div>
                <h1 class="font-semibold text-2xl text-center uppercase" style="color:#203864">Contact Us</h1>
            </div>
        </section>

        <!-- About Us Section -->

        <section class="text-gray-700 body-font relative">
            <div class="container px-5 py-24 mx-auto flex sm:flex-no-wrap flex-wrap">
                <div class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
                <!-- <iframe class="absolute inset-0" style="filter: grayscale(1) contrast(1.2) opacity(0.4);" title="map" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=%C4%B0zmir+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" width="100%" height="100%" frameborder="0"></iframe> -->
                <iframe class="absolute inset-0" style="filter: grayscale(1) contrast(1.2) opacity(0.4);" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=96.15198969841003%2C16.91433358905973%2C96.16615176200868%2C16.92368451279993&amp;layer=mapnik&amp;marker=16.919014241187806%2C96.15907073020935" width="100%" height="100%" frameborder="0"></iframe>
                <div class="bg-white relative flex flex-wrap py-6">
                    <div class="lg:w-1/2 px-6">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm">ADDRESS</h2>
                    <p class="leading-relaxed">North Okkalapa Township, Yangon, Myanmar</p>
                    </div>
                    <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm">EMAIL</h2>
                    <a class="text-indigo-500 leading-relaxed">contact@parallaxtech.info</a>
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mt-4">PHONE</h2>
                    <p class="leading-relaxed">+95 975-399-383<br/>+95 678-361-288</p>
                    </div>
                </div>
                </div>
                <div class="lg:w-1/3 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
                    <h3 class="mb-4 text-blue-800 text-2xl font-semibold">Get in touch</h3>
                    <el-form label-position="top" label-width="100px">
                        <el-form-item label="Name">
                            <el-input v-model="name"></el-input>
                        </el-form-item>
                        <el-form-item label="Email">
                            <el-input v-model="email"
                                :rules="[
                                    { required: true, message: 'Please input email address', trigger: 'blur' },
                                    { type: 'email', message: 'Please input correct email address', trigger: ['blur', 'change'] }
                                ]">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Subject">
                            <el-input v-model="subject"></el-input>
                        </el-form-item>
                        <el-form-item label="Message">
                            <el-input
                                type="textarea"
                                v-model="message"
                                maxlength="100"
                                show-word-limit>
                            </el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submit">Submit</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </section>

    </layout>
</template>

<script>
import Layout from './Layouts/Master'
export default {
    name:"Contact-Us",
    components:{
        Layout
    },
    data(){
        return{
            name:'',
            email:'',
            subject:'',
            message:''
        }
    },
    methods:{
        submit(){
            alert('Ok')
        }
    }
}
</script>