<template>
    <layout>
        <!-- Hero Section -->
        <section class="bg-gray-100">
            <div class="container mx-auto">
                <div class="grid grid-cols-1 p-5 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
                    <div class="flex flex-row items-center">
                        <div>
                            <h1 class="text-blue-800 font-bold text-xl sm:text-xl md:text-2xl lg:text-3xl">Web and Mobile Application<br/>Services For You</h1>
                            <p class="mt-6 text-gray-600 font-hairline leading-loose">သင်တို့၏ စီးပွားရေးလုပ်ငန်းများကို ကျွန်ုပ်တို့၏ ဝန်ဆောင်မှုဖြင့် ပိုမိုတိုးတက်အောင် အခုပဲ ဆက်သွယ်လိုက်ပါ။</p>
                            <div class="mt-10">
                                <inertia-link href="/contact-us" class="pr-10 pl-10 pt-3 pb-3 bg-blue-800 rounded-full text-white uppercase hover:bg-blue-900 shadow-2xl">Contact Us</inertia-link>
                            </div>
                        </div>
                        
                    </div>
                    <div>
                        <img class="object-cover" src="https://www.parallaxtech.info/images/hero_section.png">
                    </div>
                </div>
            </div>
        </section>  

        <!-- Service Section -->
        <section class="mb-16">
            <div class="container mx-auto p-5">
                <div class="mt-10">
                    <h3 class="text-indigo-500 text-sm">ကျွန်ုပ်တို့၏ ဝန်ဆောင်မှုများ</h3>
                    <h1 class="text-blue-900 text-2xl font-bold abel-font uppercase">Our Services</h1>
                    <p class="text-gray-600 font-hairline">ကျနော်တို့ services  များကို စိတ်ဝင်စားပါက အချိန်မရွေးဆက်သွယ်မေးမြန်းနိုင်ပါတယ်ခင်ဗျာ</p>
                </div>
                <!-- grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 -->
                <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
                    <div class="bg-white shadow-xl p-6 mt-2 mr-2 mb-2 border border-gray-100">
                        <div>
                            <img src="https://www.parallaxtech.info/images/icon_web.png" alt="" class="h-10">
                        </div>
                        <h3 class="text-blue-700 font-semibold mt-3">Web Development</h3>
                        <p class="font-thin text-gray-600">လူကြီးမင်းတို့၏ စီးပွားရေးအတွက် လိုအပ်သော website ပုံစံ စိတ်တိုင်းကျ Parallaxtech မှ Professional Web Development Teamနှင့် သေချာ ဆွေးနွေးပြီး MoSCoW Prioritisation Method ကို အသုံးပြုပြီး ကာ ကောင်းမွန်ပြီး လူကြီးမင်းတို့၏ စီးပွားရေး အကျိုးကို 100% မြင့်တင်နိုင်သော Website များကို အတူတကွ ဖန်တီးပေးရန် Prallaxtech Team မှ တာဝန်ယူဆောင်ရွတ်ရန် အမြဲကြိုဆိုပါတယ်ခင်ဗျာ။</p>
                    </div>
                    <div class="bg-white shadow-xl p-6 m-2 border border-gray-100">
                        <div>
                            <img src="https://www.parallaxtech.info/images/icon_mobile.png" alt="" class="h-10">
                        </div>
                        <h3 class="text-blue-700 font-semibold mt-3">Mobile Development</h3>
                        <p class="font-thin text-gray-600">လူကြီးမင်းတို့၏ စီးပွားရေးအတွက် လိုအပ်သော mobile app များကို ios နှင့် Android နှစ်မျိုးလုံးအတွက်  စိတ်တိုင်းကျ Parallaxtech မှ Professional Mobile Development Teamနှင့် သေချာ ဆွေးနွေးပြီး MoSCoW Prioritisation Method ကို အသုံးပြုပြီး ကာ ကောင်းမွန်ပြီး လူကြီးမင်းတို့၏ စီးပွားရေး အကျိုးကို 100% မြင့်တင်နိုင်သော Mobile app များကို အတူတကွ ဖန်တီးပေးရန် Prallaxtech Team မှ တာဝန်ယူဆောင်ရွတ်ရန် အမြဲကြိုဆိုပါတယ်ခင်ဗျာ။
</p>
                    </div>
                    <div class="bg-white shadow-xl p-6 m-2 border border-gray-100">
                        <div>
                            <img src="https://www.parallaxtech.info/images/icon_ui.png" alt="" class="h-10">
                        </div>
                        <h3 class="text-blue-700 font-semibold mt-3">UI/UX</h3>
                        <p class="font-thin text-gray-600">လူကြီးမင်းတို့၏ Application များကို သုံးစွဲသူများ ကို User Interface သို့ User Experience အတွက် သေသပ်သော User Interface တိကျ လွယ်ကူရိုးရှင်းသော ပုံစံများဖြင့် ဖန်တီးပြီး လူကြီးမင်းတို့၏ Business Profit အတွက် ဖန်တီးပေးဖို့ Pralllaxteach Team ၏ UI/UX Professional Developer များမှ တာဝန်ယူဆောင်ရွတ်ရန် အမြဲကြိုဆိုပါတယ်ခင်ဗျာ။</p>
                    </div>

                    <div class="bg-white shadow-xl p-6 m-2 border border-gray-100">
                        <div>
                            <img src="https://www.parallaxtech.info/images/icon_course.png" alt="" class="h-10">
                        </div>
                        <h3 class="text-blue-700 font-semibold mt-3">Online Courses</h3>
                        <p class="font-thin text-gray-600">ကျနော်တို့ Parallax Tech Team မှ Professional Application Trainer များမှ Web Development Course ၊ Mobile Development Course နှင့် အတူ UI/UX များကို Online မှ ထိရောက်စွာသင်ကြားပေးမည်ဖြစ်ပြီး ကျနော်တို့ Parallax Tech Team များ Project များကို အတူတကွရေးသားပြီး Group Project Traning များကိုပါ တပါးတည်း ထည့်သွင်း သင်ကြားနိုင်ရန် အမြဲကြိုဆိုပါတယ်ခင်ဗျာ။</p>
                    </div>

                    <!-- <div class="flex flex-row items-center right-auto">
                        <inertia-link href="" class="cta flex flex-row items-center">
                            <span class="text-blue-800">View Detail</span>
                            <svg class="text-blue-800" width="13px" height="10px" viewBox="0 0 13 10" stroke="#2C5282">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </inertia-link>
                    </div> -->
                </div>
            </div>
        </section> 

        <!-- Why U Should Choose US -->
        <section class="bg-gray-100 pb-16">
            <div class="container mx-auto p-5">
                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
                    <div>
                        <div class="mt-10">
                            <h3 class="text-indigo-500 text-sm">This is subtitle</h3>
                            <h1 class="text-blue-900 text-xl font-bold abel-font uppercase">Why you should choose us?</h1>
                            <p class="text-gray-600 font-hairline leading-loose">အရည်အသွေးကောင်းမွန်သော Websites များ၊ Android/iOS application များကို သင့်တင့်သော ဈေးနှုန်းဖြင့် လူကြီးမင်းတို့ စိတ်တိုင်းကျဆောင်ရွက်ပေးပါသည်။</p>
                            <p class="mt-6 text-gray-800 font-hairline leading-loose">ကျွန်ုပ်တို့သည် အရည်အသွေးကို ဦးစားပေးဖြစ်သောကြောင့် အကောင်းဆုံးသော Products များထွက်လာရန် တာဝန်ယူပါသည်။ လူကြီးမင်းတို့အနေနဲ့ ကျွန်ုပ်တို့ရေးသားခဲ့သော Projects များလေ့လာပြီး ယုံကြည်မှုရှိမှသာ ကျွန်ုပ်တို့နှင့် လက်တွဲရန် အကြံပြုအပ်သည်။ လူကြီးမင်းတို့၏ လုပ်ငန်းများအား နည်းပညာဖြင့် အဆင့်မြှင့်ရန်အတွက် ကျွန်ုပ်တို့ကို ဆက်သွယ်လိုက်ပါ။</p>
                        </div>
                        <div class="mt-10">
                                <inertia-link href="/contact-us" class="pr-10 pl-10 pt-3 pb-3 bg-blue-800 rounded-full text-white uppercase hover:bg-blue-900 shadow-2xl">Contact Us</inertia-link>
                            </div>
                        
                    </div>
                    <div class="flex flex-row items-center">
                        <img src="https://www.parallaxtech.info/images/hero_section.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- User Review -->
        <section class="text-gray-700 body-font">
            <div class="container px-5 py-24 mx-auto">
                <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
                    <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="leading-relaxed text-lg">Edison bulb retro cloud bread echo park, helvetica stumptown taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware. Man bun next level coloring book skateboard four loko knausgaard. Kitsch keffiyeh master cleanse direct trade indigo juice before they sold out gentrify plaid gastropub normcore XOXO 90's pickled cindigo jean shorts. Slow-carb next level shoindigoitch ethical authentic, yr scenester sriracha forage franzen organic drinking vinegar.</p>
                <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
                <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2>
                <p class="text-gray-500">Senior Product Designer</p>
                </div>
            </div>
        </section>
    </layout>
</template>
<script>
import Layout from './Layouts/Master'
export default {
    name:"Home",
    components:{
        Layout
    }
}
</script>