<template>
    <layout>
        <main class="h-full pb-16 overflow-y-auto">
            <!-- Remove everything INSIDE this div to a really blank page -->
            <div class="container px-6 mx-auto grid">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                    Project Create
                </h2>

                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                    <div class="w-full overflow-x-auto">
                        <el-form :label-position="labelPosition" :model="form" label-width="120px" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                            <el-form-item label="Name">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                            <el-form-item label="Is Private">
                                <el-select v-model="form.is_private" placeholder="Select">
                                    <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="Type">
                                <el-select v-model="form.type" placeholder="Select">
                                    <el-option
                                    v-for="item in types"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="Link" v-if="form.is_private == 0">
                                <el-input v-model="form.link"></el-input>
                            </el-form-item>
                            <el-form-item label="Technology">
                                <el-input v-model="form.technology"></el-input>
                            </el-form-item>
                            <el-form-item label="Description" >
                                <el-input type="textarea" v-model="form.description"></el-input>
                            </el-form-item>
                            <el-form-item label="Upload Image" class="mr-2" prop="real_price">
                                <input type="file" @change="onFileSelected"/>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="create">Create</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </div>
        </main>
    </layout>
</template>

<script>
import Layout from '../Layouts/Master'
export default {
    name:"Project-Create",
    components:{
        Layout
    },
    data(){
        return{
            options:[
                {
                    value:1,
                    label:'Private'
                },
                {
                    value:0,
                    label:'Public'
                },
            ],
            types:[
                {
                    value:'Web',
                    label:'Web'
                },
                {
                    value:'Android',
                    label:'Android'
                },
                {
                    value:'Desktop',
                    label:'Desktop'
                },
                {
                    value:'Multi',
                    label:'Multi'
                },
            ],
            form:{
                name:'',
                description:'',
                technology:'',
                link:'',
                type:'',
                is_private:'',
                selectedFile : null
            }
        }
    },
    methods:{
        onFileSelected(event){
            console.log(event)
            this.form.selectedFile = event.target.files[0]
        },
        create(){
           var data = new FormData()
           data.append('name',this.form.name)
           data.append('image',this.form.selectedFile)
           data.append('technology',this.form.technology)
           data.append('link',this.form.link)
           data.append('type',this.form.type)
           data.append('is_private',this.form.is_private)
           data.append('description',this.form.description)
           this.$inertia.post('/admin/project/store', data).then(() => {
                if(this.$page.flash.success){
                    this.$notify({
                        title: 'Success',
                        message: this.$page.flash.success,
                        type: 'success'
                    });
                }else{
                    this.$notify.error({
                        title: 'Error',
                        message: this.$page.flash.error
                    });
                }
            })
       } 
    }
}
</script>