<template>
    <layout>
        <!-- Hero Section -->
        <section class="bg-gray-100">
            <div class="container mx-auto p-16 large-header" id="large-header">
                <div class='particle-network-animation'>
                </div>
                <h1 class="font-semibold text-2xl text-center uppercase" style="color:#203864">Project Detail</h1>
            </div>
        </section>
    </layout>
</template>

<script>
import Layout from '../Layouts/Master'
export default {
    name:"Project-Detail",
    components:{
        Layout
    }
}
</script>