<template>
    <layout>
        <h1>Dashboard</h1>
    </layout>
</template>

<script>
import Layout from './Layouts/Master'
export default {
    name:"Dashboard",
    components:{
        Layout
    }
}
</script>