<template>
    <div class="bg-gray-300 h-screen w-full" style="background:url(https://images.pexels.com/photos/3804066/pexels-photo-3804066.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);background-repeat: no-repeat;background-size: cover;">
        <div class="z-0 bg-opacity-50 bg-black h-screen w-full flex items-center">
            <div class="mx-auto flex flex-col items-center">
                <h1 class="text-white font-bold text-2xl uppercase">Login</h1>
                <form class="z-auto bg-white rounded-lg mt-5 p-10 shadow-2xl">
                    <div class="mb-5">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                        <input type="email" v-model="form.email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-5">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                        <input type="password" v-model="form.password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <button class="w-full pb-2 pt-2 bg-blue-400 text-white rounded-lg shadow hover:bg-blue-500">SUBMIT</button>
                </form>
            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    name:"Login",
    data(){
        return{
            form:{
                email:'',
                password:'',
            }
        }
    },
    methods:{
        login(){
            var data = new FormData();
            data.append('email', this.email)
            data.append('password', this.password)
            this.$inertia.post('/admin/login',data).then(() => {

            })
        }
    }
}
</script>